@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

ul{
    text-decoration: none;
}

body{
    display: grid;
    grid-template-areas: 
        "left-nav topBar topBar"
        "left-nav projects announcements"
        "left-nave projects trending";
    grid-template-columns: .8fr 2.4fr .8fr;

}



.top-page{
    grid-area: topBar;
    display: grid;
    grid-template-areas: 
            "topPage"
            "bottomPage"
    ;
    background-color: white;
    grid-template-rows:80px;
    padding: 5px;
    color: rgb(24, 24, 24);
}

.project-container{
                grid-area: projects;
            }


