*{
    margin: 0;
    padding: 0;
}

ul{
    text-decoration: none;
}

body{
    display: grid;
    grid-template-areas: 
        "left-nav topBar topBar"
        "left-nav projects announcements"
        "left-nave projects trending";
    grid-template-columns: .8fr 2.4fr .8fr;
    grid-template-rows: 100vh;
}



.top-page{
    grid-area: topBar;
}

.project-container{
                grid-area: projects;
            }


        /* Left Nav Grid Layout */
          